
<header class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="../../assets/favicon.jpg" width="30px"> 
         Sala de juegos
        </a>
  
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              
              Juegos
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              Listados
            </a>
          </li>
          <li>
            <a href="login" class="nav-link text-white">
             Login
            </a>
          </li>
          <li>
            <a href="registro" class="nav-link text-white">
             Registro
            </a>
          </li>
          <li>
            <a href="quiensoy" class="nav-link text-white">
            Quien soy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>